#BubbleChart{
    display: inline-block;
}

select{
    width: 160px !important;
    max-width: 160px;
}

#controlContainer{
    position: absolute;
    display: inline-block;
    top: 125px;
    left: 920px;
    width: 100%;
}
.countrySelector{
    width: 160px !important;
    max-width: 160px;

}

.selectorSection,
.labelSection{
    display: inline-block;
    margin-left: 45px;
}
.controlButton{
   display: block!important;
   width: 160px;
    margin-left: 45px;
}

.buttonDiv{
   padding-left: 14%;
}

.labelSection label{
    display: block !important;
}

.labelSection> label:first-of-type{    
    padding-bottom: 20px;
}

#startingYear{
    margin-bottom: 10px;
}


#animateButton{
    margin-bottom: 10px;
}

#year{
    margin-top:20px;    
}

.yearSection{
    margin-left : 70px;
}   

#generateMultipleButton{
    white-space: normal;
}

.dataTable{ 
    
    width: 1200px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;}

    .dataTable td,
    .dataTable tr,
    .dataTable th{
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(206, 212, 218);
    }

    #data{
        margin-left: 9%;
        margin-right: 9%;
    }
    #generateTable{
        width: 582px;
    }